@model IEnumerable<spitifi.Data.DbModels.Musica>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Música</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                <a>Albúm</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                <a>Artista</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <!--<a>@item.Album.Titulo</a>-->
                <img style="max-height: 100px; max-width: 100px" src="@item.Album.Foto"/>
            </td>
            <td>
                <audio controls>
                    <source src="@item.FilePath" type="audio/wav">
                    <source src="@item.FilePath" type="audio/mp3">
                </audio>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dono.Username)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
