@model spitifi.Data.DbModels.PlayList

@{
    ViewData["Title"] = "Details";
    
    var dono = false;
    
    if (User.Identity?.Name == Model.Dono.Username)
    {
        dono = true;
    }
}

<h1>Detalhes</h1>

<div>
    <h4>PlayList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dono.Username)
        </dd><dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musicas)
        </dt>
        <dd class="col-sm-10">
            @foreach(var musica in Model.Musicas)
            {
                var albumFoto = @musica.Album.Foto;
                @if (albumFoto == null)
                {
                    albumFoto = "assets/icons/addMusic.png";
                }
                    
                <li class="flex-column">@musica.Nome</li>
                <img style ="max-height: 100px; max-width: 100px" src="/@albumFoto"/>
                <audio controls class="flex-column">
                    <source src="/@musica.FilePath" type="audio/wav">
                    <source src="/@musica.FilePath" type="audio/mpeg">
                </audio>
                @if(dono)
                {
                    <a asp-controller="Musica" asp-action="Delete" asp-route-id="@musica.Id">Apagar</a>
                    <a asp-controller="Musica" asp-action="Edit" asp-route-id="@musica.Id">Editar Musica</a>
                }
            }
            <br/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
